.badge-success { 
    background-color: #28a745; 
    padding: 5px 20px;
    
    }
  .badge-danger { 
    background-color: #dc3545; 
    padding: 5px 15px;
    
    }
  .badge-warning {
    background-color: #f0ad4e;
    padding: 5px 15px;
  }
  .btn.btn-info {
    background-color: #8bb7d0; 
    color: #FFFFFF;
  }
  .btn.btn-info:hover {
    background-color: #17A2B8;
    color: #FFFFFF;
  }
  .btn.btn-info-inverse {
    background-color: #17A2B8;
    color: #FFFFFF;
  }
  .btn.btn-info-inverse:hover {
    background-color: #8bb7d0;
    color: #FFFFFF;
  }
  .btn.btn-warning {
    background-color: #ffd148;
    color: #FFFFFF;
  }
  .btn.btn-warning:hover {
    background-color: #FFA000;
    color: #FFFFFF;
  }
  .btn.btn-warning-inverse {
    background-color: #FFA000;
    color: #FFFFFF;
  }
  .btn.btn-warning-inverse:hover {
    background-color: #ffd148;
    color: #FFFFFF;
  }