      <div class="row">

        <section class="main col-md-12">
          <article>
          <h2>About</h2>
          <p>Welcome to my application! I'm a Full-Stack Developer with a passion for creating innovative web applications that enhance user experience. I specialize in developing web-based software using a variety of programming languages and frameworks.</p>
          <p>My focus is on building scalable, maintainable, and efficient applications that meet the needs of clients and end-users alike.</p>
          <p>My technical skills include proficiency in front-end technologies such as HTML, CSS, and JavaScript, as well as expertise in back-end languages like Python, Java, Go, and Node.js. I have experience working with databases such as SQL and NoSQL, and I am comfortable with cloud-based technologies such as AWS and Azure.</p>
          <p>In addition to my technical skills, I pride myself on my ability to collaborate with others and communicate effectively. I believe that teamwork and communication are key to creating successful software solutions.</p>
          <p>When I'm not coding, I enjoy hiking, reading, and spending time with my family. I am always looking for new challenges and opportunities to grow, and I'm excited about the future of the technology industry and the role that I can play in shaping it</p>
          <p>Thank you for taking the time to visit my website, and I look forward to connecting with you!</p>
          <p>For more information or to get in touch, visit my portfolio site.</p>
          </article>
          <br>
          <a href="https://kyeongsoolee.github.io/Portfolio" class="btn btn-primary">View Portfolio</a>
        </section>
      </div>