<div class="row">
    <div class="col-md-12">
        <h2>Add Article</h2>
        <hr>
        <form method="post" action="/articles/add">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="articleTitle">Article Title</label>
                        <input class="form-control" id="articleTitle" name="articleTitle" type="text" />
                        <label for="articleContent">Article Content</label>
                        <textarea class="form-control" rows="18" id="articleContent" name="articleContent"></textarea>
                    </div>
                </div>
            </div>
            <hr />
            <div class="text-center">
                <input type="submit" class="btn btn-primary" value="Add Article" /><br /><br /><br />
            </div>
        </form>
    </div>
</div>