<div class="row">
    <div class="col-md-12">
        <h2>Add Ielts Speaking</h2>
        <hr>
        <form method="post" action="/ieltsSpeakings/add">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="ieltsSpeakingTitle">Title</label>
                        <input class="form-control" id="ieltsSpeakingTitle" name="ieltsSpeakingTitle" type="text" />
                        <label for="ieltsSpeakingContent">Ielts Speaking Content</label>
                        <textarea class="form-control" rows="18" id="ieltsSpeakingContent" name="ieltsSpeakingContent"></textarea>
                    </div>
                </div>
            </div>
            <hr />
            <div class="text-center">
                <input type="submit" class="btn btn-primary" value="Add IELTS Speaking" /><br /><br /><br />
            </div>
        </form>
    </div>
</div>