<div class="row">
    <div class="col-md-12">
        <h2>{{article.articleTitle}}</h2>
        <hr />
        <p>{{{article.articleContent}}}</p>
        <hr />
        <a href="/articles" class="btn btn-primary">Go Back</a>
    </div>
</div>