      <div class="row">
        <aside class="col-md-3">
          <h2>Learning Language</h2>
          <ul class="nav navbar-nav">
            {{#navLink "/articles"}}<p>English - Article</p>{{/navLink}}     
            {{#navLink "/dailyrecord"}}<p>French - Daily Record</p>{{/navLink}}    
            {{#navLink "/"}}<p>Spanish - coming soon</p>{{/navLink}}  
          </ul>
          
        </aside>
        <section class="main col-md-9">
          <article>
          <h2>Welcome to our Learning Language Cafe</h2>
          <p>Improve your Language skills and explore a world of articles to read and learn from.</p>
          <p>Whether you're a beginner or an advanced learner, our platform provides a wide range of English articles to enhance your reading comprehension and vocabulary.</p>
          <p>Get started now and dive into the fascinating world of English learning.</p>
          <p>Happy learning!</p>
          </article>
        </section>
      </div>