      <div class="row">
        <aside class="col-md-3">
          <h2>Learning Language</h2>
          <p>English</p>
          <p>Spanish</p>
        </aside>
        <section class="main col-md-9">
          <article>
          <h2>Welcome to our English Learning Cafe</h2>
          <p>Improve your English skills and explore a world of articles to read and learn from.</p>
          <p>Whether you're a beginner or an advanced learner, our platform provides a wide range of English articles to enhance your reading comprehension and vocabulary.</p>
          <p>Get started now and dive into the fascinating world of English language learning.</p>
          <p>Happy learning!</p>
          </article>
        </section>
      </div>